[submodule "rdfsummit"]
	path = rdfsummit
	url = https://github.com/dbcls/rdfsummit.git
[submodule "coro"]
	path = coro
	url = https://github.com/leechuck/coro
[submodule "PRIDE2RDF"]
	path = PRIDE2RDF
	url = https://github.com/orenogithub/PRIDE2RDF.git
[submodule "GlycoRDF"]
	path = GlycoRDF
	url = https://github.com/ReneRanzinger/GlycoRDF.git
